

body{
    min-height: 100vh;
    background-image: url("../img/fondos/papiro.png");
}





.error .success{
    position: absolute;
    right: 10px;
}


.navegacio{
    background-color: #A81414;
    color: white;
    
   
    box-shadow: 5px 5px 5px #888888;

}

.footer{
    background-color: #A81414;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

.Inici{
    color: rgb(160, 158, 158);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.Inici:hover{
    color: white;
    text-decoration: none;
}

.Personatges{
    color: rgb(160, 158, 158);
    text-decoration: none;
}
.Personatges:hover{
    color: white;
    text-decoration: none;
}



@media (min-width: 990px) {
    .delete{
        width: 10%;
    }
    .edit{
        width: 10%;
    }
    
}
