@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');


body{
    background-color: #4C5B5C;
}

h1{
    color: rgb(252, 252, 252); 
    text-align: center;
    font-family: 'IM Fell English', serif;
    
}

.navegacio{
    background-color: #500a0a;
    color: white;
  
   
    box-shadow: 5px 5px 5px #888888;

}

.card{
    background-color: #0000009e;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  5px 5px #888888;
    width: auto;
    

}

.Inici{
    color: rgb(160, 158, 158);
    text-decoration: none;

}

.Inici:hover{
    color: white;
    text-decoration: none;
}

.Personatges{
    color: rgb(160, 158, 158);
    text-decoration: none;
}
.foro{
    color: rgb(160, 158, 158);
    text-decoration: none;
}

.Personatges:hover{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: #c30f0f;
    color: white;
    width: 100%;
}

.btn:hover{
    background-color: #a81414;
    color: rgb(255, 200, 3);
}
.footer{
    background-color: #A81414;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

@media screen and (max-width: 768px){
    
    .sala{
        background-image: url("../img/fondos/drac.png");
      
        background-size: cover;
        width: auto;
        height: 200px;
    }

    .msgError{
        color: black;
        position: absolute;
        left: 20%;
        right: 20%;
        margin: auto;
        animation: parpadeo 1s linear forwards;
        z-index: 3;
    }

    .card{
        background-color: #0000009e;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow:  5px 5px #888888;
        width: 100%;
    }

 

    .mercat{
        background-image: url("../img/fondos/drac2.png");
    
        background-size: cover;
        width: auto;
        height: 200px;
    }
    
}

@media screen and (min-width: 768px){
    
    .sala{
        background-image: url("../img/fondos/drac.png");
        
        background-size: cover;        
        background-position: center;
        width: auto;

        height: 500px;
    }

    .msgError{
        color: black;
        position: absolute;
        left: 40%;
        right: 40%;
        margin: auto;
        animation: parpadeo 1s linear forwards;
        z-index: 3;
    }
    

    .mercat{
        background-image: url("../img/fondos/drac2.png");
        background-size: cover;
        width: auto;
        height: 500px;
    }
    
}




@keyframes parpadeo {
   
    0%{top: 10%;}
    50%{top: 11%;}
    100%{top: 10%;}
}

/*Boto de crear personatge*/
.crearPersonatge{
    border-radius: 5px;
 
   width: 200px;
}

.btncrearPersonatge{
    background: none;
    border: none;
}