@media (min-width: 1200px){
    .container{
        width: 1440px;
        margin: 0px;
    }   
}

/* Xat de text */
#XatGlobal{
    background-color: #eceaea;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  5px 5px #888888;
    width: auto;
    height: 300px;
    overflow-y: scroll;
    
}

#ContenidorMapa{
    margin-top: -53px;
}

#missatge{
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  5px 5px #888888;
}

#fondo{
    background-image:url('../img/mapa/llanura.webp');
    border-radius: 5px;
    height: 85%;
    width: 100%;
    background-size: cover;
  
}

@media  (min-width: 1200px){
    #fondo{
        background-image:url('../img/mapa/llanura.webp');
        border-radius: 5px;
        height: 85%;
        width: 100%;
        background-size: cover;
      
    }

    #ContenidorMapa{
        margin-top: -53px;
        height: 50rem;
    }


}

@media (max-height: 768px){
    #fondo{
        background-image:url('../img/mapa/llanura.webp');
        border-radius: 5px;
        height: 85%;
        width: 100%;
        background-size: cover;
      
    }

    #ContenidorMapa{
        margin-top: -53px;
        height: 27rem;
    }
    
}